<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!-- Requires jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}" type="text/javascript"></script>

    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='css/style.css')}}" />

</head>

<body>
    <section class="content">
        <p>Please answer the following questions to conclude the experiment:</p><br>
        <form action="/experiment/init" method="post" id="current_form">
            <fieldset id="fieldset_english_level" class="container_radio_buttons">
                <p>What is your level of English?</p>
                <label><input type="radio" name="english_level" id="qenglisha0" value="0" class="option-input radio"
                        required>Elementary proficiency (you can communicate/understand the most basic
                    needs)</label><br>
                <label><input type="radio" name="english_level" id="qenglisha1" value="1"
                        class="option-input radio">Limited working proficiency (you can respond simply and understand
                    simple sentences)</label><br>
                <label><input type="radio" name="english_level" id="qenglisha2" value="2"
                        class="option-input radio">Professional working proficiency (you can discuss/understand topics
                    in particular interests and special fields of competence with reasonable ease)</label><br>
                <label><input type="radio" name="english_level" id="qenglisha3" value="3"
                        class="option-input radio">Full professional proficiency (your can respond/read appropriately
                    even in unfamiliar grounds or situations)</label><br>
                <label><input type="radio" name="english_level" id="qenglisha4" value="4"
                        class="option-input radio">Native or bilingual proficiency</label><br>
            </fieldset><br>
            <fieldset id="fieldset_education_level" class="container_radio_buttons">
                <p>What is your highest achieved level of education?</p>
                <label><input type="radio" name="education_level" id="q1a0" value="0" class="option-input radio"
                        required>High School but did not graduate</label><br>
                <label><input type="radio" name="education_level" id="q1a1" value="1" class="option-input radio">High
                    School
                    graduate or GED</label><br>
                <label><input type="radio" name="education_level" id="q1a2" value="2" class="option-input radio">Some
                    college
                    or 2-year degree</label><br>
                <label><input type="radio" name="education_level" id="q1a3" value="3"
                        class="option-input radio">Bachelor in
                    CS (Computer Science)</label><br>
                <label><input type="radio" name="education_level" id="q1a4" value="4"
                        class="option-input radio">Bachelor in
                    STEM (Science, Technology, Engineering and Mathematics)</label><br>
                <label><input type="radio" name="education_level" id="q1a5" value="5"
                        class="option-input radio">Bachelor in
                    a different area than CS or STEM</label><br>
                <label><input type="radio" name="education_level" id="q1a6" value="6" class="option-input radio">Master
                    in
                    CS</label><br>
                <label><input type="radio" name="education_level" id="q1a7" value="7" class="option-input radio">Master
                    in
                    STEM</label><br>
                <label><input type="radio" name="education_level" id="q1a8" value="8" class="option-input radio">Master
                    in a
                    different area than CS or STEM</label><br>
                <label><input type="radio" name="education_level" id="q1a9" value="9" class="option-input radio">PhD or
                    higher academic title in CS</label><br>
                <label><input type="radio" name="education_level" id="q1a10" value="10" class="option-input radio">PhD
                    or
                    higher academic title in STEM</label><br>
                <label><input type="radio" name="education_level" id="q1a11" value="11" class="option-input radio">PhD
                    or
                    higher academic title in a different area than CS or STEM</label><br>
            </fieldset><br>
            <fieldset id="fieldset_flashcard_experience" class="container_radio_buttons">
                <p>Have you previously made Flashcard electronic or in paper form?</p>
                <label><input type="radio" name="flashcard_experience" id="q2a0" value="0" class="option-input radio"
                        required>I
                    have never used FlashCards</label><br>
                <label><input type="radio" name="flashcard_experience" id="q2a1" value="1"
                        class="option-input radio">Electronic
                    Flashcards</label><br>
                <label><input type="radio" name="flashcard_experience" id="q2a2" value="2"
                        class="option-input radio">Paper
                    Flashcards</label><br>
                <label><input type="radio" name="flashcard_experience" id="q2a3" value="3" class="option-input radio">I
                    have made
                    Digital & Paper Flashcards in the Past</label><br>
            </fieldset><br>
            <fieldset id="fieldset_flashcard_preference" class="container_radio_buttons">
                <p>If you have used Flashcards in the past, Do you prefer Digital or Paper Flashcards?</p>
                <label><input type="radio" name="flashcard_preference" id="q3a0" value="0" class="option-input radio"
                        required>No
                    preference </label><br>
                <label><input type="radio" name="flashcard_preference" id="q3a1" value="1"
                        class="option-input radio">Digital
                    Flashcards</label><br>
                <label><input type="radio" name="flashcard_preference" id="q3a2" value="2"
                        class="option-input radio">Paper
                    Flashcards</label><br>
            </fieldset><br>


            <fieldset id="fieldset_flashcard_usage_frequency" class="container_radio_buttons">
                <p>How often do you use Flashcards?</p>
                <label><input type="radio" name="flashcard_usage_frequency" id="q4a0" value="0"
                        class="option-input radio" required>I
                    have never used Flashcards</label><br>
                <label><input type="radio" name="flashcard_usage_frequency" id="q4a1" value="1"
                        class="option-input radio">Once or
                    Twice a year</label><br>
                <label><input type="radio" name="flashcard_usage_frequency" id="q4a2" value="2"
                        class="option-input radio">Monthly</label><br>
                <label><input type="radio" name="flashcard_usage_frequency" id="q4a3" value="3"
                        class="option-input radio">Weekly</label><br>
                <label><input type="radio" name="flashcard_usage_frequency" id="q4a4" value="4"
                        class="option-input radio">Daily</label><br>
            </fieldset><br>
            <fieldset id="fieldset_study_duration" class="container_radio_buttons">
                <p>If you do use Flashcards, how long do you normally study them for in one session?</p>
                <label><input type="radio" name="study_duration" id="q5a0" value="0" class="option-input radio"
                        required>Not
                    at all</label><br>
                <label><input type="radio" name="study_duration" id="q5a1" value="1" class="option-input radio">Less
                    than 10
                    minutes per session</label><br>
                <label><input type="radio" name="study_duration" id="q5a2" value="2" class="option-input radio">10 to 30
                    minutes per session</label><br>
                <label><input type="radio" name="study_duration" id="q5a3" value="3" class="option-input radio">Greater
                    than
                    30
                    minutes per session</label><br>
            </fieldset><br>
            <fieldset id="fieldset_current_tiredness" class="container_radio_buttons">
                <p>How tired do you feel at the moment?</p>
                <label><input type="radio" name="current_tiredness" id="q6a0" value="0" class="option-input radio"
                        required>very tired</label><br>
                <label><input type="radio" name="current_tiredness" id="q6a1" value="1"
                        class="option-input radio">moderately
                    tired</label><br>
                <label><input type="radio" name="current_tiredness" id="q6a2" value="2"
                        class="option-input radio">neutral</label><br>
                <label><input type="radio" name="current_tiredness" id="q6a3" value="3"
                        class="option-input radio">moderately
                    fit</label><br>
                <label><input type="radio" name="current_tiredness" id="q6a4" value="4" class="option-input radio">very
                    fit</label><br>
            </fieldset><br>

            <fieldset id="questions" class="container_radio_buttons">
                <p>If you have any comments on the experiment, please add them here:</p>
                <label><textarea id="qfeedback1" name="question_feedback1"></textarea></label>
            </fieldset>

            <fieldset id="feedback" class="container_radio_buttons">
                <p>All your data is anonymous! We will analyze it. May we also share it in a public research dataset?
                </p>
                <label><input type="radio" name="question_feedback41" id="qfeedback41" value="0"
                        class="option-input radio" required="true">Yes</label><br>
                <label><input type="radio" name="question_feedback41" id="qfeedback42" value="1"
                        class="option-input radio" required="true">No</label><br>
            </fieldset>

            <fieldset id="results" class="container_radio_buttons">
                <p>If you would like to receive the results of this study, please leave your email here. <br>
                    <small>Results are used anonymously. Your email will never be shared with anyone, and you will not
                        receive any
                        other emails other than the results of this study. After we email the study results to you, we
                        will delete
                        your email.</small>
                </p>
                <label><textarea id="qfeedback2" name="question_feedback2" style="height: 50px"></textarea></label>
            </fieldset>

            <fieldset id="interviewed class=" container_radio_buttons">
                <p>If you would like to be
                    interviewed in the context of this study, please leave your email here. <br>
                    <small>Results are used anonymously. Your email will never be shared with anyone, and you will not
                        receive
                        any other emails other than the results of this study. After we email the study results to you,
                        we will
                        delete
                        your email.</small>
                </p>
                <label><textarea id="qfeedback3" name="question_feedback3" style="height: 50px"></textarea></label>
            </fieldset>

            <button type="submit" id="submitter" class="button blue">Next</button>
        </form>

        <script>
            $(document).ready(function () {
                var form = document.getElementById('current_form');
                if (form.attachEvent) {
                    form.attachEvent("submit", processForm);
                } else {
                    form.addEventListener("submit", processForm);
                }
            });
            function processForm() {
                var ta0 = document.getElementById("qgendertext");
                var ta2 = document.getElementById("q2text");
                if (ta0.value !== undefined) {
                    var other = document.getElementById("qgendera2");
                    $(other).val(ta0.value)
                }
                if (ta2.value !== undefined) {
                    other = document.getElementById("q2a9");
                    $(other).val(ta2.value)
                }
            }
        </script>

    </section>
</body>

</html>